body {
    font-family: optima;
    background-color: #81c9fa;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ranking-espaco {
    background-color: #b9ffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px #2196f3;
    text-align: center;
}
h2 {
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
